h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.outlet-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
} */

